<!doctype html>
<html lann="en">
    <head>
        <title>Request Header Parser Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                API Basejump: Request Header Parser Microservice
            </h1>
            <p>By Kashif Jamal Soofi | <a href="https://github.com/kashifsoofi/fcc-whoami-service">GitHub Project</a></p>
            <blockquote>
                User story:
                <ol>
                    <li>I can get the IP address, language and operating system for my browser.</li>
                </ol>
            </blockquote>
            <h3>Usage:</h3>
            <p>
                Please click <a href='<%= appUrl %>api/whoami' target="blank">here</a> to view the results or visit <%= appUrl %>api/whoami.
            </p>
        </div>
    </body>
</html>